html,
body {
    margin:0;
    font-family: Arial, sans-serif;
    text-align: center;
}

.people {
    display: grid;
    grid: auto-flow / repeat(4, auto);
    padding: 30px 35px;
    grid-gap: 30px 40px;
    justify-content: center;
    text-align: center;
}

.person {
    width: 200px;
    height: 200px;
    position: relative;
    font-size: 18px;
    padding: 10px;
    transition: transform 1s;
}

img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    justify-content: center;
    text-align: center;
    transition: border-radius 1s;
}

.rank {
    position: absolute;
    right: 20px;
    top: 94px;
    background: #fff;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    font-size: 16px;
    color: #8B0000;
    line-height: 32px;
    font-weight: bold;
}

.name {
    color: #2F4F4F;
    font-size: 20px;
    line-height: 23px;
}

.extra {
    display: none;
    font-size: 18px;
    line-height: 21px;
}

@media (max-width: 750px) {
    .people {
        grid-template-columns: repeat(2, 200px);
    }
}

.person:hover {
    cursor: pointer;
    z-index: 1;
    transform: scale(1.2);
}

.person:hover img {
    border-radius: 60px;
    background-color: #eee;
}

.person:hover .extra {
    display: block;
    cursor: pointer;
}

.person:hover::after {
    position: absolute;
    justify-content: center;
    text-align: center;
    content: "";
    width: 220px;
    height: 287px;
    background-color: #eeeeee;
    z-index: -1;
    top: -10px;
    left: 0px;
    right: -10px;
    bottom: -46px;
    border-radius: 10px;
}

